html, body{
  margin:0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
  }

a{
  text-decoration: none;
  color: white;
  }

h1{
  margin-top: 1rem;
}

$fontstack: Helvetica, sans-serif;

//-----------------------------Begin styles ----------------------------------//
#override{
   background-image:url("../images/earth.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   a:focus, a:hover{
     text-decoration: none;
     }
}



#logo {
    display: inline-block;
    font-size: 2rem;
    font-family:$fontstack;
    color: white;

    a:hover{
      color:violet;
      }
}


// -- text area styles ----- //

#search:focus {
    border: none;
    outline: none !important;
    }

input[type="text"] {
    color: white;
    }

// ----- / text area styles ------- //



.nav{
  position: absolute;
  width: 100vw;
  display: inline-block;
  height: 12vh;
  }

.nav:nth-child(2){
  text-align: right;
  }

.navbar-brand{
  font-size: 2rem;
  }

.n-li{
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 1rem;
  }

    .a-style-nav{
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-family: $fontstack;

      &:hover{
        color:violet;
      }
}

// -------- Dropdown menu styles --------  //

.dropdwn{
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;

// nested .dropdwn ----------------

   a{
     font-size: 1.25rem;
     color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;

// nested .dropdwn a -----------------

      &:hover{
        color:white;
        background-color: silver;
      }
   }
}


#sale-li:hover .sale-menu{
  display: block;
  }

#jobs-li:hover .jobs-menu{
  display: block;
  }

#gigs-li:hover .gigs-menu{
  display: block;
  }

#community-li:hover .comm-menu{
  display: block;
  }

#housing-li:hover .housing-menu{
  display: block;
  }

#personal-li:hover .personal-menu{
  display: block;
  }

#services-li:hover .services-menu{
  display: block;
  }

#forums-li:hover .forums-menu{
  display: block;
  }



#register, #login{
  font-size: 1rem;
  }

#v-div1{
  color: white;
  font-size: 0.75rem;
  }

// ---------- / dropdown menu styles --------------- //


// ---------- Body and search styles  -------------- //

.mainarea{
  width: 100%;
  height: 100vh;
  display: block;
  text-align: center;

//nested .mainarea-------------------

  #search,#zip,#Go-button{
    position: relative;
    height: 3rem;
    text-align: center;
    top: 350px;
    }

  #search, #zip,{
    width: 25%;
    background-color: rgba(0,0,0,0.7);
    border: white 2px solid;
    font-size: 1.5rem;
    }

  #zip{
    width:7%;
    }

  #Go-button{
    display: none;
    width:5%;
    border: none;
    height: 3.4rem;
    }

}

// ---------- / body and search styles ----------- //


//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//-------------------------------------------------------------------
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


// ---------------------login page styles---------------------------//
.top-bar{
  background-color: black;
  }

#top-logo{
  color:white;
  }

.welcome-box{
  border: 2px black solid;
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
  }

#log-butn{
  height: 2.4rem;
  width: 20.6%;
  position: relative;
  left: 2%;
  }

#log-pass{
  width: 76%;
  margin-top: 5px;
  }

.ev-else{
  margin:auto;
  text-align: center;
  }

.login-styles{
  font-family: $fontstack;
  color: black;
  }

#welcome, #log-with, #first-time{
  text-align: center;
  }

#log-user{
  width: 100%;
  }

.log-fields{
  text-align: center;
  height:2rem;
  }

.lower-box {
    position: relative;
    top: 2rem;
    width: 40%;
    height: 10rem;
    }

#signup-btn {
    height: 2.4rem;
    }

.temp{
  padding: 2px;
  }

.welcome-box, .lower-box{
  border: 2px black solid;
  display: inline-block;
  margin-right: 10%;
  margin-left: 10%;
  }
